{% extends 'common/base.html'%}
{% block content %}
<div class="container">
        <div class="form row">
            <form action="http://localhost:5000/login" method="post">
            <div class="form-horizontal col-md-offset-3" id="login_form">
                <h3 class="form-title">LOGIN</h3>
                <div class="col-md-9">
                    <div class="form-group">
                        <i class="fa fa-user fa-lg"></i>
                        <input class="form-control required" type="text" placeholder="Username" id="username" name="username" autofocus="autofocus" maxlength="20"/>
                    </div>
                    <div class="form-group">
                            <i class="fa fa-lock fa-lg"></i>
                            <input class="form-control required" type="password" placeholder="Password" id="password" name="password" maxlength="20"/>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="checkbox">-->
                            <!--<input type="checkbox" name="remember" value="1"/>记住我-->
                        <!--</label>-->
                    <!--</div>-->
                    <div class="form-group col-md-offset-9">
                        <button type="submit" class="btn btn-success pull-right" id="submit">登录</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
<!--<script>-->
    <!--$('#submit').click(function(){-->
        <!--$.ajax({-->
            <!--url: 'http://localhost:5000/login',-->
            <!--type: 'post',-->
            <!--data: {-->
                <!--user: $('#username').val(),-->
                <!--password: $('#password').val()-->
            <!--},-->
            <!--dataType:'json',-->
            <!--success:function(data){-->
                <!--alert(data);-->
                <!--if(data.status==200){-->
                    <!--window.loaction='/index';-->
                    <!--window.onload=function(){-->
                        <!--$('#logreg').hide();-->
                    <!--}-->
                <!--}else{-->
                    <!--alert(data.message);-->
                <!--}-->
            <!--}-->
        <!--}-->
        <!--)-->
    <!--});-->

<!--</script>-->
{% endblock %}
{%block title%}
用户登录
{% endblock %}
{%block css%}
{{super()}}
<link rel= "stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
{% endblock %}